{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions", "android >= 4", "not ie <= 11"]
      }
      }],
      "stage-2"
    ],
    "plugins": ["lodash", "transform-vue-jsx", "transform-runtime"],
    "comments": false,
    "env": {
      "test": {
        "presets": ["env", "stage-2"],
        "plugins": ["transform-vue-jsx", "istanbul"]
      }
    }
  }
