bin
build
composer.phar
app/cache/*
app/logs/*
app/bootstrap.php.cache
web/bundles
app/config/parameters.yml
server-configuration/tmp/
.git
.vagrant
nbproject
*~
dump
web/css
web/js
web/translations
mongodb/db
mongodb/dump
.idea/
*.iml
*.orig
node_modules
dist/
app/Resources/assets/
apidoc/*
coverage
bower_components/
sessions/*.json
.directory
doc
^vendor
.nobackup
