.modal-content
	h5.main-title= title || t('alert.unknown_error.title')

	p!= message

.modal-footer
	button.modal-action.modal-close.waves-effect.waves-green.btn-flat(type='button')= t('alert.unknown_error.close')

