<ul class="collapsible collapsible-accordion">
	<li>
		<a class="collapsible-header bold waves-effect waves-green"><%= title %></a>
		<div class="collapsible-body">
			<ul></ul>
		</div>
	</li>
</ul>
