include ../common/nav_fullscreen_dialog
+createHeader()

.container
	form.card-panel
		.row
			.col.s12
				.row
					.input-field.col.s12
						input#label(type='text')
						label(for='label') #{t('items:item.form.label.field')}

		.row
			.col.s12.informations


		.row
			.col.s12
				.row
					.col.s12.center
						button.waves-effect.waves-light.btn(type='submit') #{t('items:item.form.button.field')}
