div.collection

.fixed-action-btn.click-to-toggle(style="bottom: 45px; right: 24px;")
	a.btn-floating.btn-large.red
		i.large.material-icons add

	ul
		li
			a.btn-floating.red.add-credit-card
				i.material-icons credit_card
		li
			a.btn-floating.blue.add-password
				i.material-icons fingerprint
		li
			a.btn-floating.green.add-text
				i.material-icons text_fields
