.row
	.input-field.col.s12
		input#username(type='text',name='username')
		label(for='username') #{t('items:item.form.username.field')}
.row
	.input-field.col.s12
		input#password(type='text',name='password')
		label(for='password') #{t('items:item.form.password.field')}
.row
	.input-field.col.s12
		input#siteUrl(type='text',name='siteUrl')
		label(for='siteUrl') #{t('items:item.form.siteUrl.field')}
.row
	.input-field.col.s12
		textarea#notes.materialize-textarea(name='notes')
		label(for='notes') #{t('items:item.form.notes.field')}
