.row
	.input-field.col.s12.has-suffix
		input#username(type='text',name='username')
		label(for='username') #{t('items:item.form.username.field')}
		i.material-icons.suffix_clipboard.copyclp content_copy
.row
	.input-field.col.s12.has-suffix
		input#password(type='password',name='password')
		label(for='password') #{t('items:item.form.password.field')}
		i.material-icons.suffix_password.showhide visibility
		i.material-icons.suffix_clipboard.copyclp content_copy
.row
	.input-field.col.s12.has-suffix
		input#siteUrl(type='text',name='siteUrl')
		label(for='siteUrl') #{t('items:item.form.siteUrl.field')}
		i.material-icons.suffix_clipboard.copyclp content_copy
.row
	.input-field.col.s12
		textarea#notes.materialize-textarea(name='notes')
		label(for='notes') #{t('items:item.form.notes.field')}
