.row
	.input-field.col.s12.has-suffix
		textarea#text.materialize-textarea(name='text')
		label(for='text') #{t('items:item.form.text.field')}
		i.material-icons.suffix_clipboard.copyclp content_copy

.row
	.input-field.col.s12
		textarea#notes.materialize-textarea(name='notes')
		label(for='notes') #{t('items:item.form.notes.field')}
