.row
	.input-field.col.s12
		textarea#text.materialize-textarea(name='text')
		label(for='text') #{t('items:item.form.text.field')}

.row
	.input-field.col.s12
		textarea#notes.materialize-textarea(name='notes')
		label(for='notes') #{t('items:item.form.notes.field')}
